body{
    background-color: #51658C;
    border: 5px solid #ffffff;
    margin: 1%;
    padding: 3%;
    font-size: small;
}
h1,.add{
    text-align: center;
    color: #ffffff;
}

img{
    border-radius: 50%;
}
.di{
    display: flex;
    justify-content: center;
    
}
table{
    border: 5px solid #ffffff;
    border-collapse: collapse;
    
}
#a,#b,#c,#d,#e{
    padding: 10px;
    width: 5px;
}
tr{
    background-color: #A8BFB7;
    
}
.inf{
    text-align: center;
    color: #000000;
    background-color: #A7CFF2;
}
.obj{
    text-align: center;
    background-color: #A7CFF2;
}
.exp{
    text-align: center;
    background-color: #A7CFF2;
}
.for{
text-align: center;
background-color: #A7CFF2;
}
.hab{
text-align: center;
background-color: #A7CFF2;
}
#log{
    width: 30px;
    margin: 5px;
}
#git{
    width: 30px;
    margin: 5px;
}
.ajuste{
    display: flex;
    justify-content: center;
}
#redes{
    text-align: center;
    color: #A7CFF2;
}